<div class="footer">

        <div class="socialmedia-wrapper">
            <div class="fbsocial-roll"></div>
            <div class="gsocial-roll"></div>
            <div class="twsocial-roll"></div>
            <div class="pinsocial-roll"></div>
            <div class="lisocial-roll"></div>
        </div>
        <ul>
				<li><a href="#">Ueber uns</a></li>
				<li><a href="#">Presse</a></li>
				<li><a href="#">Partner</a></li>
				<li><a href="#">Kontakt</a></li>
		</ul>
		<ul>
				<li><a href="#">Kosten</a></li>
				<li><a href="#">Inserieren</a></li>
				<li><a href="#">Datenschutz</a></li>
				<li><a href="#">FAQ</a></li>
		</ul>
		<ul>
				<li><a href="#">Nutzungsbedingungen</a></li>
				<li><a href="#">Impressum</a></li>
				<li><a href="#">Blog</a></li>
		</ul>
    </div>